*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
run*.log
run*.err

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CRCLJavaBase/target/
/crcl4java-base/target/
/crcl4java-utils/target/
/crcl4java-utils/nbproject/
/crcl-ui/target/
/crcl4java-ui/target/